<style>
    nav{
        display: flex;
    }
.nav-bar-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-decoration: none;

}
.nav-bar-links{
    color: var(--bright-blue);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
}
</style>
<nav>
    <h3>Vexora</h3>
    <div class="nav-bar-links">
        <a class="nav-bar-link" href="#">Home</a>
        <a class="nav-bar-link" href="#">About</a>
        <a class="nav-bar-link" href="#">Services</a>
        <a class="nav-bar-link" href="#">Contact</a>
    </div>
</nav>